html,body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-size: 20px;
      background-color: #0f0f0f;
}
.Home{
  margin: 0;
  padding: 0;
  background: url('../images/bg.jpg');
  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;

}
.Aboutme{
  background-color: #0f0f0f;
  width: 100%;
  height: 770px;
}
.Education{
  background-color: blue;
  width: 100%;
  height: 500px;
}
.Skills{
  background-color: lightyellow;
  width: 100%;
  height: 580px;
}
.subskills{
  background-color: yellow;
  width: 100%;


}
.Activities{
  background-color: pink;
  width: 100%;
  height: 100vh;
}
.Otherworks{
  background-color: lightblue;
  width: 100%;
  height: 100vh;
}
/*home div*/

.ground{
      background-image: url('../images/ground.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -1%;
      left: 0%;
      background-position: center;
}
.boxback {
  background: #0f0f0f;
  height: 500vh;
  width: 100%;
  top: 105vh;
  position: absolute;

}
.city3 {
      background-image: url('../images/3city.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-position: center;
}
.city2 {
      background-image: url('../images/2city.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-position: center;
}

.city1 {
      background-image: url('../images/1city.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      background-position: center;
}

.grass {
      background-image: url('../images/grass2.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      top: 63vh;
      position: absolute;
      background-position: center;
}

.cart{

  background-size: cover;
  width: 100%;
  height: 800px;
  top: 58vh;
  position: absolute;
  background-position: center;
  overflow: hidden;
}
.car1 {
      background-image: url('../images/cartest.png');
      background-size: cover;
      height:3rem;
      width: 5rem;
      top: 15vh;
      margin-left: 5%;
      position: absolute;
      overflow: hidden;
}

.car2 {
      background-image: url('../images/cartest.png');
      background-size: cover;
      height:3rem;
      width: 5rem;
      top: 15vh;
      margin-left: 100%;
      transform: rotateY(180deg);
      position: relative;
      overflow: hidden;
}
.car3 {
      background-image: url('../images/cartest.png');
      background-size: cover;
      height:3rem;
      width: 5rem;
      top: 10vh;
      margin-left:45% ;
      transform: rotateY(180deg);
      position: relative;
      overflow: hidden;
}
.car4 {
      background-image: url('../images/cartest.png');
      background-size: cover;
      height:3rem;
      width: 5rem;
      top: -13vh;
      margin-left: 80%;
      transform: rotateY(180deg);
      position: relative;
      overflow: hidden;
}
.car5 {
      background-image: url('../images/cartest.png');
      background-size: cover;
      height:3rem;
      width: 5rem;
      top: -15vh;
      margin-left: -10%;
      position: relative;
      overflow: hidden;
}
.clearstars {
      background-image: url('../images/clearstars.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -10%;
      background-position: center;
}
.blurstars {
      background-image: url('../images/blurstars.png');
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -10%;
      background-position: center;
}
.mahidollogo{
  background-image: url('../images/mahidol.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -5%;
  background-position: center;
}


#lottie{

      background-color: rgba(0, 0, 0, 0);
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 5%;
      }

      .mefirst{
            background-image: url('../images/mefirst.png');
            background-size: cover;
            width: 100%;
            height: 115vh;
            position: absolute;
            top: 5%;
            left: 0%;
            background-position: center;
      }
.arrow{
  width: 100%;
  position: absolute;
  top: 80%;
  text-align: center;
  left: -15px;

}
.arrow::after{
  display: inline;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-right: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    top: 50px;
  }
  50%{
  opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100px;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    top: 50px;
  }
50%{
  opacity: 1;
}
  100% {
    opacity: 0;
    top: 100px;
  }
}

/* about me div*/
h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Reenie Beanie', cursive;
    color: #f0f654;
    text-align: center;
    background-position:
    position: absolute;
    font-size: 4rem;
    z-index: 2;
}
.aboutmeinfo{
  z-index: 2;
  text-align: left;
  font-family: 'Special Elite', cursive;
  color: #000;
  font-size: 1rem;
  line-height: 2em;
  position: relative;
  top: 1.5rem;
  display: flex;
  justify-content: center ;
  padding-bottom: 1rem;
  background-image: url('../images/aboutmepaper1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

}
.aboutmeinfo a {
  text-decoration: none;
color: #02284e;

-webkit-transition-duration: 200ms;
transition-duration: 200ms;
}
.aboutmeinfo a:hover {
  color: #ee5253;

}


.contact{
    z-index: 2;
    text-align: left;
    font-family: 'Special Elite', cursive;
    color: #d7d8db;
    font-size: 1rem;
    line-height: 2em;
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center ;



}


/* illustration*/
.pennphone{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.penbody {
      background-image: url('../images/penbody.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: relative;
      background-position: center;
      top: -5%;
      z-index: 1;

}
.pencap {
      background-image: url('../images/pencap.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: 0%;
      z-index: 1;

}
.penspring {
      background-image: url('../images/penspring.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: 30%;
      z-index: 1;

}
.penled {
      background-image: url('../images/penled.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: 0%;
      z-index: 1;

}

.phoneback {
      background-image: url('../images/phoneback.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: -5%;
      left: -2%;
      z-index: 1;

}
.phonebg {
      background-image: url('../images/phonebg.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: -5%;
      left: -2%;
      z-index: 1;

}
.meinphone {
      background-image: url('../images/meinphone.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: 5%;
      left: -2%;
      z-index: 1;

}
.phonefront {
      background-image: url('../images/phonefront2.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: -5%;
      left: -2%;
      z-index: 1;

}
.phonesim {
      background-image: url('../images/phonesim.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: 10%;
      left: -2%;
      z-index: 1;

}
.phonetop {
      background-image: url('../images/phonetop.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: -1%;
      left: -2%;
      z-index: 1;

}
.phonebottom {
      background-image: url('../images/phonebottom.png');
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center;
      top: -5%;
      left: -2%;
      z-index: 1;

}
/*contact*/
.contact a{
  text-decoration: none;
  color: #dff9fb;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.contact a:hover{
  color: #f0f654;
}
.contactcolor{
  width: 20%;
  height: 15%;
  background-color: #f0f654;
  color: #393a3a;
  border-radius: 20px;
}


/*education div*/
.education{
  color: #d7d7d7;
  font-family: 'Coming Soon', cursive;
  line-height: 25px;
  font-size: .85rem;
}
.edutext{
  margin-top: 50px;
}
.eduline{
  margin-top: 75px;
  padding: 0;
}
.eduline li{
    list-style: none;
    float: left;
    width: 33.3333%;
    position: relative;
    text-align: center;

}
.eduline li::before{
      content: '';
      width: 130px;
      height: 130px;
      border: 10px solid #0f0f0f;
      line-height: 50px;
      display: block;
      margin: 0 auto 10px auto;
      text-align: center;
      background-color: #0f0f0f;
      z-index: 3;
      position: relative;
}
.eduline li::after{
    content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      top: 65px;
      left: -50%;
      z-index: 2;
}
.eduline li:first-child:after {
      content: none;
    }
.timeline1::before{
  content: '';
  background-image: url('../images/acs.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.timeline2::before{
  content: '';
  background-image: url('../images/Weaubleau.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.timeline3::before{
  content: '';
  background-image: url('../images/cru.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.year{
  font-size: 0.9rem;
  font-family:'Special Elite', cursive;
}

.gpa{
  color: #fff;
  font-size: 0.9rem;
  font-family:'Special Elite', cursive;
}
.sch{
  color: #fff;
  font-size: 0.9rem;
}
.gpa a{
  text-decoration: none;
  color: #f0f654;
  border: solid 2px #f0f654;
  padding: 12px;
  border-radius: 30px;

  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;

}
.gpa a:hover{
  background-color: #f0f654;
  color: #0f0f0f;
}

/*skills div*/
.mainskillssection{
  width: 100%;
  position: absolute;
  display: flex;
}

.mainskills{
  width: 850px;
  height: 500px;
  background-color: #f3f3f3;
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  border-radius: 10px;
}
.topbarmain{
  width: 100%;
  height: 50px;
  background-color: #d7d7d7;
  border-radius: 10px 10px 0 0;
  line-height:50px;

}
.buttonmainred{
  color: #ee5253;
  font-size: 1.07rem;

}
.buttonmainyellow{
  color: #ffba43;
  font-size: 1.07rem;

}
.buttonmaingreen{
  color: #32d921;
  font-size: 1.07rem;

}
.skillstext{
  color: #0f0f0f;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  top: -70px;
  font-family: 'Comfortaa', cursive;
  z-index: 1;
}

.mainskillsbody{
  width: 90%;
  height: 350px;
  background-image: url('../svgs/skillsicon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  position: relative;
}

/*sub*/

.subskills{
  display: flex;
  justify-content: space-between;
}
.subskillsmain{

  background-color: #222f3e;
  flex-basis: 30%;
  margin: 10px auto 0 auto;
  text-align: center;
  line-height: 48px;
  border-radius: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: 0.7rem;
}
.subskillsmain p{
  padding-left: 48px;
  padding-right: 48px;
  color: #f3f3f3;
}
.subskilltop{
  width: 100%;
  height: 50px;
  background-color: #d7d7d7;
  line-height: 50px;
  text-align: center;
  margin-top: -22px;
  border-radius: 10px 10px 0 0;

}
.subskilltop p{
  font-size: 0.85rem;
  color: #0f0f0f;

}


.buttonsubred{
  color: #ee5253;
  font-size: 1rem;
  float: left;
  margin-left: 30px;
  margin-top: -70px;
}
.buttonsubyellow{
  color: #ffba43;
  font-size: 1rem;
  float: left;
  margin-left: 60px;
  margin-top: -70px;

}
.buttonsubgreen{
  color: #32d921;
  font-size: 1rem;
  float: left;
  margin-left: 90px;
  margin-top: -70px;


}

.flags{

  margin-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.thailand{
  width: 60px;
  height: 60px;
  background-image: url('../svgs/thaiflag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 30%;
}
.us{
  width: 60px;
  height: 60px;
  background-image: url('../svgs/usflag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 30%;
}
.china{
  width: 60px;
  height: 60px;
  background-image: url('../svgs/chinaflag.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 30%;
}
.language{
  line-height: 1.5rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
.thai{
  width: 60px;
  height: 50px;
  flex-basis: 30%;
  color: #94cc6f;
}
.eng{
  width: 60px;
  height: 50px;
  flex-basis: 30%;
  color: #70c7ab;
}
.chinese{
  width: 60px;
  height: 50px;
  flex-basis: 30%;
  color: white;
}


/*media queries*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (max-width: 1281px) {

  html{
  font-size: 18px;
}

}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (max-width: 768px) {

  html{
  font-size: 17px;
}
.eduline li::after{
    content: '';
    height: 0;
}
.eduline li{
    list-style: none;
    width: 100%;
    position: relative;
    text-align: center;
}
.Education{
  height: 1200px;
}
.subskills{
  display: inline;
  justify-content: space-between;
}
.subskillsmain{
  margin: 15px;
  margin-top: 45px;
}
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 481px){

  html{
  font-size: 16px;
}

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (max-width: 320px){

  html{
  font-size: 14px;
}
.Education{
  height: 200vh;
}
}
